#background-veil {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #071E22;
}
 
#top-veil {
    position: relative;
    z-index: 0;
}
 
#headerAbout {
    padding: 0px;
}

#articleAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    padding: 0px;
}
 
.card img{
    height: 100%;
}
 
.about-section {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
    margin-top: 365px;
    margin-left: 5%;
    margin-right: 5%;
}

.about-section h2 {
    font-size: 14px;
}

.about-section p {
    font-size: 10px;
    margin: 2% 0% 2% 0%;
}

.about-section h3 {
    font-size: 12px;
}

.about-section.visible {
    opacity: 1;
    position: relative;
}

.stack-container {
    margin-left: 20%;
}

#cdsAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
} 
 
.cd {
    height: 50px;
    border-radius: 100px ;
}

.cd:hover {
    animation: rotate360 3s linear infinite;
} 

#hobbiesAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}
 
.hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.hobby img {
    height: 50px;
}
 
#indieAbout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}
  
.indieStamp {
    object-fit: cover;
    width: 62px;
    height: 33px;
}
  
.indieButton {
    object-fit: cover;
    width: 93px;
    height: 33px;
}
  
#badgeStack {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#badgeStack img {
    height: 16px;
    width: 89px;
}

.indieBlinkie {
    height: 16px;
    width: 131px;
} 
 

@media (min-width: 768px) {
    #articleAbout {
        flex-direction: row;
        margin: 0% 4% 0% 4%;
    }

    .about-section {
        margin-top: 5%;
        width: 50vw;
        text-align: left;
    }

    .about-section h2 {
        font-size: 20px;
    }
    
    .about-section p {
        font-size: 12px;
    }
    
    .about-section h3 {
        font-size: 14px;
    }

    .stack-container {
        margin-left: 0%;
    }

    #siteAboutTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #siteAboutTitle h3 {
        margin: 0;
    }

     #siteAbout p {
        margin: 0;
    }
     
    #contactAbout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #contactAbout h3 {
        margin: 1.5em 0 0 0;
    }     

    #linksAbout {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 9.3vw;
    }
      
    .cd {
        height: 75px;
    }

    .hobby img {
        height: 75px;
    }
}

@media (min-width: 1024px) {
    .about-section h2 {
        font-size: 32px;
    }
    
    .about-section p {
        font-size: 16px;
    }
    
    .about-section h3 {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .about-section {
        margin-top: 2%;
        margin-left: 0;
    }

    .about-section h2 {
        font-size: 40px;
    }
    
    .about-section p {
        font-size: 20px;
    }
    
    .about-section h3 {
        font-size: 24px;
    }

    .stack-container {
        margin-left: 5%;
    }
}

@media (min-width: 2560px) {
    .about-section {
        margin-right: 10%;
    }

    .about-section h2 {
        font-size: 48px;
    }
    
    .about-section p {
        font-size: 24px;
    }
    
    .about-section h3 {
        font-size: 32px;
    }

    .stack-container {
        margin-left: 10%;
    }

    .cd {
        height: 100px;
    }

    .hobby img {
        height: 100px;
    }
}