#background-veil {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #071E22;
}

#top-veil {
    position: relative;
    z-index: 0;
}

#headerAbout {
    padding: 0px;
}

#articleAbout {
    margin: 0% 4% 0% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding: 0px;
}

.card img{
    height: 100%;
}

.about-section {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
    width: 50vw;
    text-align: left;
  }
  
  .about-section.visible {
    opacity: 1;
    position: relative;
  }
  
  .about-sections {
    position: relative;
    min-height: 200px; /* to prevent layout shift */
  }

.about-section p {
    margin: 2% 0% 2% 0%;
}

#siteAboutTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#siteAboutTitle h3 {
    margin: 0;
}

#siteAbout p {
    margin: 0;
}

#contactAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contactAbout h3 {
    margin: 1.5em 0 0 0;
}

#linksAbout {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 9.3vw;
}

#linksAbout h3 {
    margin: 0;
}

#cdsAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.cd {
    height: 100px;
    border-radius: 100px ;
}

.cd:hover {
    animation: rotate360 3s linear infinite;
}

#hobbiesAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobby img {
    height: 100px;
}

.hobby p {
    margin: 15px 0 0 0;
}

#indieAboutTitle {
    margin: 0;
}

#indieAbout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
  }

.indieStamp {
    object-fit: cover;
    width: 139px;
    height: 73px;
}

.indieButton {
    object-fit: cover;
    width: 207px;
    height: 73px;
}

#badgeStack {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#badgeStack img {
    height: 37px;
    width: 197px;
}

.indieBlinkie {
    height: 39px;
    width: 292px;
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg); /* Starting state: no rotation */
    }
    to {
      transform: rotate(360deg); /* Ending state: full 360-degree rotation */
    }
  }