@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
 margin: 0 auto;
 text-align: center;
 background-color: #071E22;
 color: #EBE8E3;
 width: 100%;
 height: 100%;
}

.logo {
 height: 6em;
 padding: 1.5em;
 will-change: filter;
 transition: filter 300ms;
}
.logo:hover {
 filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
 filter: drop-shadow(0 0 2em #61dafbaa);
}

header {
  position: relative;
  padding: 3% 5% 10% 5%;
 }
 
#background-aurora {
  position: absolute;
  inset: 0;
  z-index: 0; /* Aurora goes behind */
  width: 100%;
  background-color: #071E22;
 }
 
 #top-aurora {
  position: relative;
  z-index: 0;
 }

 #mission {
  display: flex;
  flex-direction: row;
  margin: 5% 5% 3% 5%;
  text-align: left;
 }
 
 #intro {
  margin-left: 5%;
 }

 #intro h2 {
  font-size: 16px;
 }

 #intro p {
  font-size: 10px;
  margin-top: 2%;
 }
 
 #mission img {
  height: 20vh;
 }

 #connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
 } 

 #resume {
  display: flex;
  flex-direction: row;
  gap: 5%;
 }
 
 #resume button {
  background-color: transparent;
  padding: 0.5vh 2vh 0.5vh 2vh;
  border-radius: 25px;
  border: 0.5px solid white;
  background-image: linear-gradient(to bottom, rgba(190, 189, 186, 0.3), rgba(235, 232, 227, 0.3));
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  font-family: DM Serif Display;
  font-size: 10px;
  color: #EBE8E3;
  margin-right: 5%;
 }

 #socials img {
  height: 3vh;
  margin-left: 2vw;
 }

#education {
  margin-top: 10vw;
}

 #schools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 15vw);
  row-gap: 10vw;
  margin-bottom: 5vw;
  margin-top: 5vw;
  font-size: 10px;
 }
 
 #schools img {
  justify-self: center;
  align-self: center;
  height: 15vw;
 }

 #schools h3 {
  font-size: 8px;
 }

 #schools p {
  font-size: 8px;
 }
 
 .info {
  text-align: left;
 }

 #schools h3 {
  margin-bottom: 2vw;
 }
 
 #schools p {
  margin-bottom: 5%;
 }
 
#skills {
  margin-top: 10vw;
  margin-bottom: 10vw;
}

 #mainSkills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
 }
 
 #mainSkills img {
  height: 10vw;
 }

 #otherSkills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 9vw);
  place-items: center;
  margin-top: 2%;
  margin-left: 20vw;
  width: 60vw;
 }
 
 #otherSkills img {
  height: 7vw;
 }
 
 #experience {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
 }
 
 .workExp {
  display: flex;
  flex-direction: row;
  background-color: #EBE8E3;
  color:#071E22;
  padding: 2rem;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 2% 10% 0% 10%;
  justify-content: space-around;
 }
 
 .workExp img {
  height: 12vw;
 }
 
 .job p {
  font-size: 8px;
 }

 .role {
  font-weight: bold;
 }
 
 .company {
  font-weight: bold;
  font-style: italic;
 }
 
 .topSkills {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  gap: 1vw;
  font-size: 8px;
 }

 .skill {
  background-color: #051414;
  color: #EBE8E3;
  border-radius: 15px;
  padding: 2%;
 }
 