header {
    position: relative;
    padding: 3% 5% 10% 5%;
    padding-bottom: 10%;
}
 
#background-light {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    background-color: #071E22;
}
 
#top-light {
    position: relative;
    z-index: 0;
}

.hidden {
    display: none;
}
 
.category-select {
    margin: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 16px;
}

.category-select select {
    background: transparent;
    color: #EBE8E3;
    border: 1px solid #EBE8E3;
    border-radius: 8px;
    font-size: 16px;
}
 
.projects-section h2 {
    margin-top: 3%;
}

.research-section {
    margin: 5%;
}
 
.research-content {
    text-align: left;
    width: 80vw;
    margin-top: 5vw;
}
 
.research-content p {
    margin-bottom: 2%;
}

.research-name {
    font-size: 16px;
}

.research-date {
    width: 55vw;
    text-align: right;
}
  
.research-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-left: 0;
}
 
.research-image img {
    max-height: 20vh;
} 
 
.videos-section h2 {
    margin-top: 2%;
}
 
.video-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 2vw;
    margin-top: 2%;
    margin-bottom: 5%;
}

.video-grid iframe {
    height: 150px;
    width: 200px;
}

/* Tablet sizing */
@media (min-width: 768px) {
    .category-select {
        text-align: left;
        margin-bottom: 5%;
    }

    .research-section {
        margin: 0;
    }

    .research-image p {
        font-size: 12px;
    }

    .research-content {
        width: 40vw;
        margin-top: 0;
    }

    .research-content p {
        font-size: 12px;
    }

    .videos-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .videos-section h2 {
        font-size: 32px;
        margin-bottom: 2%;
    }

    .videos-section p {
        font-size: 20px;
        margin-bottom: 5%;
    }

    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .video-grid iframe {
        height: 250px;
        width: 300px;
    }
}

/* Laptop sizing */
@media (min-width: 1024px) {
    .category-select {
        font-size: 24px;
    }

    .category-select select {
        font-size: 22px;
    }

    .research-content {
        width: 50vw;
    }

    .research-image img {
        max-height: 15vh;
    } 

    .research-content p {
        font-size: 16px;
    }

    .video-grid iframe {
        height: 250px;
        width: 400px;
    }
}

@media (min-width: 1440px) {
    .category-select {
        font-size: 32px;
    }

    .category-select select {
        font-size: 30px;
    }

    .research-image img {
        max-height: 20vh;
    }

    .research-image p {
        font-size: 18px;
    }

    .research-image a {
        font-size: 20px;
    }

    .research-content p {
        font-size: 24px;
    }

    .videos-section h2 {
        font-size: 48px;
    }

    .videos-section h3 {
        font-size: 36px;
    }

    .videos-section p {
        font-size: 32px;
    }
}

/* Large screen sizing */
@media (min-width: 2560px) {
    .category-select {
        font-size: 48px;
    }

    .category-select select {
        font-size: 40px;
    }

    .research-image p {
        font-size: 32px;
    }

    .research-image a {
        font-size: 36px;
    }

    .research-content p {
        font-size: 40px;
    }

    .videos-section h2 {
        font-size: 64px;
    }

    .videos-section h3 {
        font-size: 48px;
    }

    .videos-section p {
        font-size: 40px;
    }
}