@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

footer {
    margin-top: 5%;
    padding: 5%;
    background-color: #051414;
    text-align: left;
}

#ending {
    font-size: 15px;
    margin-bottom: 5%;
}
#contact h3 {
    font-size: 10px;
}
#hiring h3 {
    font-size: 10px;
}
#contact p {
    font-size: 8px;
}
#hiring p {
    font-size: 8px;
}

#links {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    list-style: none;
    padding: 0;
}

.footer-links a {
    font-family: Poppins;
    color: #EBE8E3;
}

.footer-links a:hover {
    text-decoration: underline;
}
  
@media (min-width: 768px) {
    #ending {
        font-size: 32px;
    }
    #contact h3 {
        font-size: 20px;
    }
    #hiring h3 {
        font-size: 20px;
    }
    #contact p {
        font-size: 20px;
    }
    #hiring p {
        font-size: 20px;
    }
}

/* Widths smaller than laptop */
  @media (min-width: 1024px) {
    #ending {
        font-size: 48px;
        margin-bottom: 3%;
    }
    #contact h3 {
        font-size: 30px;
        margin-bottom: 2%;
    }
    #hiring h3 {
        font-size: 30px;
        margin-bottom: 2%;
    }
    #contact p {
        font-size: 22px;
    }
    #hiring p {
        font-size: 22px;
    }
  }

  @media (min-width: 1440px) {
    #ending {
        font-size: 64px;
    }
    #contact h3 {
        font-size: 44px;
    }
    #hiring h3 {
        font-size: 44px;
    }
    #contact p {
        font-size: 32px;
    }
    #hiring p {
        font-size: 32px;
    }
  }