@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap');

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 4% 4% 10% 4%;
  color: #EBE8E3;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.project-card.reverse {
  flex-direction: row-reverse; /* ⬅️ flips order */
}

/* Slide directions */
.slide-left {
  transform: translateX(-100px);
}

.slide-right {
  transform: translateX(100px);
}

.project-card.is-visible,
.slide-left.is-visible,
.slide-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.project-image img {
  height: 20vw;
  max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-content {
  margin-left: 2%;
  text-align: left;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vh;
  margin: 0;
}

.project-name p {
  margin-top: 8%;
}

hr {
  border: none; /* Remove default border */
  border-top: 2px solid #EBE8E3; /* Add a custom solid border on top */
  margin: 20px 0; /* Add vertical spacing */
}
  
.project-content a {
  font-family: DM Serif Display;
  font-size: larger;
  color: #EBE8E3;
  text-decoration: none;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 25px;
  border: 0.5px solid white;
  background-image: linear-gradient(to bottom, rgba(190, 189, 186, 0.3), rgba(235, 232, 227, 0.3));
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.project-content a:hover {
  text-decoration: underline;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}