@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap');

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 4% 4% 20% 4%;
  color: #EBE8E3;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.project-card.reverse {
  flex-direction: column;
}

/* Slide directions */
.slide-left {
  transform: translateX(-100px);
}

.slide-right {
  transform: translateX(100px);
}

.project-card.is-visible,
.slide-left.is-visible,
.slide-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.project-image img {
  height: 40vw;
  max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-content {
  margin-left: 2%;
  text-align: left;
}

.project-content p {
  margin-bottom: 5%;
  font-size: 14px;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  margin: 0;
}

.project-name p {
  margin-top: 8%;
}

hr {
  border: none; /* Remove default border */
  border-top: 2px solid #EBE8E3; /* Add a custom solid border on top */
  margin: 20px 0; /* Add vertical spacing */
}
  
.project-content a {
  font-family: DM Serif Display;
  font-size: 16px;
  color: #EBE8E3;
  text-decoration: none;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 25px;
  border: 0.5px solid white;
  background-image: linear-gradient(to bottom, rgba(190, 189, 186, 0.3), rgba(235, 232, 227, 0.3));
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.project-content a:hover {
  text-decoration: underline;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Tablet sizing */
@media (min-width: 768px) {
  .project-card {
    flex-direction: row;
    margin-bottom: 10%;
    gap: 2rem;
  }

  .project-card.reverse {
    flex-direction: row-reverse;
  }

  .project-image img {
    height: 25vw;
  }

  .project-content p {
    font-size: 16px;
  }
}

/* Laptop sizing */
@media (min-width: 1024px) {
  .project-card {
    margin-bottom: 8%;
    gap: 3rem;
  }

  .project-content p {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .project-name h2 {
    font-size: 36px;
  }

  .project-content p {
    font-size: 28px;
  }

  .project-content a {
    font-size: 20px;
  }
}

/* Large screen sizing */
@media (min-width: 2560px) {
  .project-card {
    gap: 5rem;
  }

  .project-name h2 {
    font-size: 64px;
  }

  .project-content p {
    font-size: 48px;
  }

  .project-content a {
    font-size: 40px;
  }
}