#generateAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#generateAbout div {
    padding: 1vw;
    border-radius: 25px;
    border: 0.5px solid white;
    background-image: linear-gradient(to bottom, rgba(190, 189, 186, 0.3), rgba(235, 232, 227, 0.3));
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 375px;
    margin-bottom: 2%;
}

#generateAbout h3 {
    margin: 0;
}

#generateAbout img {
    height: 100px;
}

#generateAbout h4 {
    font-size: 20px;
    margin: 0;
}

#generateAbout p {
    font-size: 20px;
    margin: 0;
}