.stack-container {
    position: relative;
    perspective: 600px;
  }
  
  .card-rotate {
    position: absolute;
    cursor: grab;
    width: 450px;
  }
  
  .card {
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
  }
  
  .card-image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
   /* Widths smaller than laptop */
   @media (max-width: 1024px) {
    .card-rotate {
      width: 325px;
    }
  }
  
  /* Widths smaller than tablet */
  @media (max-width: 768px) {
    .card-rotate {
      width: 250px;
    }
  }