@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


#root {
  margin: 0 auto;
  text-align: center;
  background-color: #071E22;
  color: #EBE8E3;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 128px;
  margin-bottom: 2px;
  font-family: "DM Serif Display", serif;
}

h2 {
  font-size: 64px;
  margin: 2px;
  font-family: "DM Serif Display", serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

img {
  height: 60vh;
}

span {
  font-weight: bold;
  font-style: italic;
}

/* Animation styles */
.reveal {
  /* The initial, hidden state of the element */
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.reveal.is-visible {
  /* The final, visible state of the element */
  transform: translateY(0);
  opacity: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
